html,
body {
	background-color: #f94001;
}

#title {
	background-color: #ed9d0b;
	border-radius: 0;
}

#search {
	background-color: #ffffff;
	border-radius: 0;
}

.columns {
	max-height: 800px;
}
.scrollable {
	height: 100%;
	position: relative;
}

.scrollable > div {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow-y: auto;
}

.outerdiv {
	height: 600px;
	display: flex;
	flex-direction: column;
}

.innerdiv {
	flex: 1; /* take available space */
	overflow: auto;
}
